<section class="py-16">
    <div class="d1 sm:bg-contain bg-no-repeat bg-auto  " style="background-image: url('../img/careers.jpg')">
        <!-- <img src="img/careers.jpg"> -->
        <h1 class="lg:py-40 lg:text-6xl text-white text-center md:py-20 md:text-4xl sm:py-20 smtext-:2xl text-2xl py-16 ">Come and Join Us</h1>

        <div class="justify-items-center">
            <h1 class="lg:text-4xl md:text-2xl sm:text-xl text-lg text-white lg:-my-32 md:-my-20 sm:-my-10 -my-8 xl:ml-80 md:ml-20 sm:ml-0 ">Find Jobs</h1>

            <div class="search-box xl:ml-80 md:ml-20 sm:ml-0 ">
                <input type="text " class="px-10 my-16 h-6 sm:my-24 md:my-36 p-2 opacity-85 lg:h-12 lg:px-32 md:px-16 md:h-6 sm:px-10 sm:h-6  " placeholder="Search Job by title or Keyword " />
                <input type="text " class="px-2 lcn h-6 my-16 sm:my-24 md:my-36 ml-10 lg:px-14 opacity-85 lg:h-12 md:px-4 md:h-6 sm:px-2 sm:h-6" placeholder="Location " />
                <button class="ml-10 h-6 my-16 sm:my-24 md:my-36 opacity-85 md:h-6 sm:h-6 lg:h-11">
          
        </button>
            </div>
        </div>
    </div>
</section>