<section class="py-16">
    <div class="d1 sm:bg-contain bg-no-repeat bg-auto  " style="background-image: url('../img/careers.jpg')">
        <!-- <img src="img/careers.jpg"> -->
        <h1 class="lg:py-40 lg:text-6xl text-white text-center md:py-20 md:text-4xl sm:py-20 smtext-:2xl text-2xl py-16 ">Come and Join Us</h1>

        <div class="justify-items-center">
            <h1 class="lg:text-4xl md:text-2xl sm:text-xl text-lg text-white lg:-my-32 md:-my-20 sm:-my-10 -my-8 xl:ml-80 md:ml-20 sm:ml-0 ">Find Jobs</h1>

            <div class="search-box xl:ml-80 md:ml-20 sm:ml-0 ">
                <input type="text " class="px-10 my-16 h-6 sm:my-24 md:my-36 p-2 opacity-85 lg:h-12 lg:px-32 md:px-16 md:h-6 sm:px-10 sm:h-6  " placeholder="Search Job by title or Keyword " />
                <input type="text " class="px-2 lcn h-6 my-16 sm:my-24 md:my-36 ml-10 lg:px-14 opacity-85 lg:h-12 md:px-4 md:h-6 sm:px-2 sm:h-6" placeholder="Location " />
                <button class="ml-10 h-6 my-16 sm:my-24 md:my-36 opacity-85 md:h-6 sm:h-6 lg:h-11">
          <img class=" h-5 md:h-5 sm:h-5 lg:h-8" src="/img/search.png "  />
        </button>
            </div>
        </div>
    </div>

    <div class="d2 shadow xl:my-0 lg:-my-14 md:-my-40 sm:-my-60 ">
        <h1 class="text-4xl text-black text-center py-5 ">Explore opportunities</h1>

        <div class="d3 md:flex flex-row justify-around ml-20 mr-20">
            <div class="card mr-10 sm:mr-10">
                <img src="/img/careers.jpg " class="h-52 sm:ml-16 md:ml-0 " />
                <h1 class="lg:text-xl lg:ml-8 sm:text-center lg:text-left ">Teams</h1>
                <h2 class="lg:text-base lg:ml-8 sm:text-center lg:text-left "> Get to know more about our teams</h2>
                <div class="lg:my-12 md: my-8 sm:text-center md:text-sm ">
                    <a href="# " class="text-blue-900 hover:text-red-500 underline ml-10 ">See all Teams</a
          >
        </div>
      </div>
      <div class="card mr-10 ">
        <img src="/img/careers.jpg " class="h-52 sm:ml-16 md:ml-0 " />
        <h1 class="lg:text-xl lg:ml-8 sm:text-center lg:text-left ">Job Catigories</h1>
        <h2 class="lg:text-base lg:ml-8 sm:text-center lg:text-left ">Find the Rigth Job for You.</h2>
        <div class="lg:my-12 md: my-8 sm:text-center md:text-sm ">
          <a href="# " class="text-blue-900 hover:text-red-500 underline ml-10 "
            >See all Job Categories</a
          >
        </div>
      </div>
      <div class="card ">
        <img src="/img/careers.jpg " class="h-52 sm:ml-16 md:ml-0 " />
        <h1 class="lg:text-xl lg:ml-8 sm:text-center lg:text-left ">Locations</h1>
        <h2 class="lg:text-base lg:ml-8 sm:text-center lg:text-left ">View our Office Location</h2>
        <div class="lg:my-12 md: my-8 sm:text-center md:text-sm ">
          <a href="# " class="text-blue-900 hover:text-red-500 underline ml-10 "
            >See all Teams</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="story lg:flex flex-row shadow xl:my-10 lg:my-16 md:my-48 sm:my-64 ">
    <img src="/img/careers.jpg " class="h-80 my-10 pic lg:ml-0 md:ml-64 sm:ml-40 " />
    <div class=":my-10 lg:ml-20 ">
      <h1 class="text-4xl ">Our Story</h1>

    <h2 class="my-10 text-xl ">
      The company was formed by Luke Skelding in 2009 under the name of Koje
      Solutions. Originally intended as a vehicle for completing web-development
      freelance and contract work; it soon became apparent that the company
      would be much more than that. Focus quickly changed to servicing a healthy
      base of our own clients, all whilst still offering a white-label service
      to larger agencies. This involved completing projects for the likes of
      Morrisons, Mercedes-Benz and the NHS. The core of our work switched over
      to developing more business systems and mobile applications. In doing so,
      we developed strong relationships with regular clients which changed our
      work from one-off projects to frequent smaller sprints. This agile
      approach provides our clients with the flexibility to constantly adapt and
      get the most of their resources. In 2018 around our 9th birthday the
      company was re-launched with a new identity, raise.digital. The new brand
      represents a contemporary image which much better suits who we are. We've
      now been working for over 10 years and as we look to the next decade we're
      looking to expand further; involving new colleagues and clients on our
      journey.
    </h1>

    <button class="text-base bg-grey-200 border-2 p-2 border-black ml-0 ">Read Full Story</button>
    </div>
  </div>
</section>