<section>
  <div class="hero-image" style="background-image: url('../img/careers.jpg')">
    <div class="container">
      <h1>Come And Join Us</h1>
      <form action="">
        <input type="text" placeholder="Type...">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>
</section>
<section>
  <div class="box">
    <div class="card">
      <div class="circle">
        <h2>Opportunities for students</h2>
      </div>
      <div class="card-content">
        <p>Learn about, search for, and apply to internships and full-time opportunities for students.</p>
        <a href="#">View Oppertunity</a>
      </div>
    </div>

    <div class="card">
      <div class="circle">
        <h2>Fulfillment Center hiring</h2>
      </div>
      <div class="card-content">
        <p>Learn about Fulfillment center career opportunities, and see open jobs at our Amazon Fulfillment Portal.</p>
        <a href="#">View Fulfillment Jobs</a>
      </div>
    </div>    

    <div class="card">
      <div class="circle">
        <h2>Remote career opportunities</h2>
      </div>
      <div class="card-content">
        <p>View and search all open virtual jobs with Amazon and its subsidiaries.</p>
        <a href="#">View Remote Jobs</a>
      </div>
    </div>    
  </div>
</section>

<section class="mr-10">
  <h2 class= "text-4xl font-bold mt-9" style="text-align:center">Explore opportunities</h2>
  <div class="card_container">
    <main class="explore_box">
      <article>
        <img src="../img/Teams.jpg" alt="">
        <div class="text">
          <h3>Teams</h3>
          <p>Get to know Amazon's teams, from Amazon Web Services to subsidiaries.</p>
          <button>View Teams</button>
        </div>
      </article>

      <article>
        <img src="../img/Jobs.jpg" alt="">
        <div class="text">
          <h3>Job Categories</h3>
          <p>Want to be an Amazonian? Find the right job for you.</p>
          <button>View Jobs</button>
        </div>
      </article>

      <article>
        <img src="../img/Location.jpg" alt="">
        <div class="text">
          <h3>Locations</h3>
          <p>View Amazon's office locations across the globe.</p>
          <button>View Locations</button>
        </div>
      </article>
    </main>
  </div>
</section>

<div class="container_test">
  <div class="testiSlide">
    <div>
      <figure class="testimonial">
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          <div class="btn"></div>
        </blockquote>
        <img src="http://pbs.twimg.com/profile_images/829191018331385858/jxsj-ZmD.jpg" alt="Maksim Goffin" />
        <div class="peopl">
          <h3>Neil Patel</h3>
          <p class="indentity">SEO Expert</p>
        </div>
      </figure>
    </div>
 
    <div>
      <figure class="testimonial">
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          <div class="btn"></div>
        </blockquote>
        <img src="https://secure.gravatar.com/avatar/24a495e3a7316e619af62445f1a86886?s=96&d=mm&r=g" alt="Maksim Goffin" />
        <div class="peopl">
          <h3>Shaan</h3>
          <p class="indentity">Web Developer</p>
        </div>
      </figure>
    </div>
 
    <div>
      <figure class="testimonial">
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          <div class="btn"></div>
        </blockquote>
        <img src="https://yt3.ggpht.com/a/AGF-l7_ESQtd3r7nPdFdP_mmyxn65RFy9JlGT0dGyA=s900-mo-c-c0xffffffff-rj-k-no" alt="Maksim Goffin" />
        <div class="peopl">
          <h3>Brian Dean</h3>
          <p class="indentity">SEO / Blogger</p>
        </div>
      </figure>
    </div>
 
    <div>
      <figure class="testimonial">
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          <div class="btn"></div>
        </blockquote>
        <img src="https://design.sva.edu/wp-content/uploads/2018/08/Sagmeister.jpg" alt="Maksim Goffin" />
        <div class="peopl">
          <h3>Stefan Sagmeister</h3>
          <p class="indentity">Graphic Designer</p>
        </div>
      </figure>
    </div>
  </div>
</div>





























<!-- <section class="py-16">
    <div class="d1 sm:bg-contain bg-no-repeat bg-auto  " style="background-image: url('../img/careers.jpg')">
   
        <h1 class="lg:py-40 lg:text-6xl text-white text-center md:py-20 md:text-4xl sm:py-20 smtext-:2xl text-2xl py-16 ">Come and Join Us</h1>

        <div class="justify-items-center">
            <h1 class="lg:text-4xl md:text-2xl sm:text-xl text-lg text-white lg:-my-32 md:-my-20 sm:-my-10 -my-8 xl:ml-80 md:ml-20 sm:ml-0 ">Find Jobs</h1>

            <div class="search-box xl:ml-80 md:ml-20 sm:ml-0 ">
                <input type="text " class="px-10 my-16 h-6 sm:my-24 md:my-36 p-2 opacity-85 lg:h-12 lg:px-32 md:px-16 md:h-6 sm:px-10 sm:h-6  " placeholder="Search Job by title or Keyword " />
                <input type="text " class="px-2 lcn h-6 my-16 sm:my-24 md:my-36 ml-10 lg:px-14 opacity-85 lg:h-12 md:px-4 md:h-6 sm:px-2 sm:h-6" placeholder="Location " />
                <button class="ml-10 h-6 my-16 sm:my-24 md:my-36 opacity-85 md:h-6 sm:h-6 lg:h-11">
          <img class=" h-5 md:h-5 sm:h-5 lg:h-8" src="/img/search.png "  />
        </button>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div>
            <h2>Opportunities for students</h2>
            <p width="80%">Learn about, search for, and apply to internships and full-time opportunities for students.</p>
            <button widht="80">view open jobs</button>
        </div>

        <div>
            <h2>Fulfillment Center hiring</h2>
            <p width="80%">Learn about Fulfillment center career opportunities, and see open jobs at our Amazon Fulfillment Portal.</p>
            <button width="80">view fulfillment jobs</button>
        </div>

        <div>
            <h2>Remote career opportunities</h2>
            <p width="80%">View and search all open virtual jobs with Amazon and its subsidiaries.</p>
            <button width="80">view remote jobs</button>
        </div>
    </div>

    

    <div class="d2 shadow xl:my-0 lg:-my-14 md:-my-40 sm:-my-60 ">
        <h1 class="text-4xl text-black text-center py-5 ">Explore opportunities</h1>

        <div class="d3 md:flex flex-row justify-around ml-20 mr-20">
            <div class="card mr-10 sm:mr-10">
                <img src="/img/careers.jpg " class="h-52 sm:ml-16 md:ml-0 " />
                <h1 class="lg:text-xl lg:ml-8 sm:text-center lg:text-left ">Teams</h1>
                <h2 class="lg:text-base lg:ml-8 sm:text-center lg:text-left "> Get to know more about our teams</h2>
                <div class="lg:my-12 md: my-8 sm:text-center md:text-sm ">
                    <a href="# " class="text-blue-900 hover:text-red-500 underline ml-10 ">See all Teams</a
          >
        </div>
      </div>
      <div class="card mr-10 ">
        <img src="/img/careers.jpg " class="h-52 sm:ml-16 md:ml-0 " />
        <h1 class="lg:text-xl lg:ml-8 sm:text-center lg:text-left ">Job Catigories</h1>
        <h2 class="lg:text-base lg:ml-8 sm:text-center lg:text-left ">Find the Rigth Job for You.</h2>
        <div class="lg:my-12 md: my-8 sm:text-center md:text-sm ">
          <a href="# " class="text-blue-900 hover:text-red-500 underline ml-10 "
            >See all Job Categories</a
          >
        </div>
      </div>
      <div class="card ">
        <img src="/img/careers.jpg " class="h-52 sm:ml-16 md:ml-0 " />
        <h1 class="lg:text-xl lg:ml-8 sm:text-center lg:text-left ">Locations</h1>
        <h2 class="lg:text-base lg:ml-8 sm:text-center lg:text-left ">View our Office Location</h2>
        <div class="lg:my-12 md: my-8 sm:text-center md:text-sm ">
          <a href="# " class="text-blue-900 hover:text-red-500 underline ml-10 "
            >See all Teams</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="story lg:flex flex-row shadow xl:my-10 lg:my-16 md:my-48 sm:my-64 ">
    <img src="/img/careers.jpg " class="h-80 my-10 pic lg:ml-0 md:ml-64 sm:ml-40 " />
    <div class=":my-10 lg:ml-20 ">
      <h1 class="text-4xl ">Our Story</h1>

    <h2 class="my-10 text-xl ">
      The company was formed by Luke Skelding in 2009 under the name of Koje
      Solutions. Originally intended as a vehicle for completing web-development
      freelance and contract work; it soon became apparent that the company
      would be much more than that. Focus quickly changed to servicing a healthy
      base of our own clients, all whilst still offering a white-label service
      to larger agencies. This involved completing projects for the likes of
      Morrisons, Mercedes-Benz and the NHS. The core of our work switched over
      to developing more business systems and mobile applications. In doing so,
      we developed strong relationships with regular clients which changed our
      work from one-off projects to frequent smaller sprints. This agile
      approach provides our clients with the flexibility to constantly adapt and
      get the most of their resources. In 2018 around our 9th birthday the
      company was re-launched with a new identity, raise.digital. The new brand
      represents a contemporary image which much better suits who we are. We've
      now been working for over 10 years and as we look to the next decade we're
      looking to expand further; involving new colleagues and clients on our
      journey.
    </h1>

    <button class="text-base bg-grey-200 border-2 p-2 border-black ml-0 ">Read Full Story</button>
    </div>
  </div>
</section> -->