@import './variables';

body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    height: 3900px;
}
#menu-area{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content:space-between;
    padding:6px 60px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: background 0.5s;
    background: $primary;
    // padding-top: 60px;
    // padding-bottom: 60px;
}
#menu-area ul{
    width: 350px;
    justify-content: space-between;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}
#menu-area ul li a{
    text-decoration: none;
    color: white;
}
#menu-area.sc-menu{
    background: $primary;
}
#menu-area.sc-menu a{
    color: #fff;;
}

/*Footer
.footer{
    margin: 0px;
    padding:0px;
    background-color: primary;

}
*/
.container-footer{
    background-color: #281b54;
}
.footer-copyright{
    background-color:#3a277b;
}